<div class="banner">

  <div class="container">

    <div class="slider-container has-scrollbar">

      <div class="slider-item">

        <img src="/images/banner-1.png" alt="Nhóm hạt" class="banner-img">

        <div class="banner-content">

          <p class="banner-subtitle">Nhóm hạt</p>

          <h2 class="banner-title">Đặc sản thơm ngon, bổ dưỡng, tốt cho sức khỏe</h2>

          <p class="banner-text">
            Giá từ <b>50</b>.000 &#8363;
          </p>

          <a href="#" class="banner-btn">Xem ngay</a>

        </div>

      </div>

      <div class="slider-item">

        <img src="/images/banner-2.png" alt="modern sunglasses" class="banner-img">

        <div class="banner-content">

          <p class="banner-subtitle">Trái cây sấy khô, sấy dẻo</p>

          <h2 class="banner-title">Nguyên liệu từ trái cây tươi, sạch sẽ, không chất bảo quản</h2>

          <p class="banner-text">
            Giá từ <b>80</b>.000 &#8363;
          </p>

          <a href="#" class="banner-btn">Xem ngay</a>

        </div>

      </div>

      <div class="slider-item">

        <img src="/images/banner-3.png" alt="new fashion summer sale" class="banner-img">

        <div class="banner-content">

          <p class="banner-subtitle">Trái cây tươi theo mùa</p>

          <h2 class="banner-title">Trồng tại nhà theo mùa vụ, tươi ngon, không thuốc trừ sâu</h2>

          <p class="banner-text">
            Giá từ <b>20</b>.000 &#8363;
          </p>

          <a href="#" class="banner-btn">Xem ngay</a>

        </div>

      </div>

    </div>

  </div>

</div>