<div class="category">

  <div class="container">

    <div class="category-item-container has-scrollbar">

      <% categories.filter(category => category.group).forEach( category=> { %>

      <div class="category-item">

        <div class="category-img-box">
          <img src="/images/icons/dress.svg" alt="dress & frock" width="30">
        </div>

        <div class="category-content-box">

          <div class="category-content-flex">
            <h3 class="category-item-title"><%= category.title %></h3>

            <p class="category-item-amount">(<%= category.productCount %>)</p>
          </div>

          <a href="/products/<%= category.slug %>" class="category-btn">Xem Danh Mục</a>

        </div>

      </div>

      <% }) %>

    </div>

  </div>

</div>