<div>

  <div class="container">

    <div class="testimonials-box">

      <!-- TESTIMONIALS -->

      <div class="testimonial">

        <h2 class="title">Khách Hàng Chứng Thực</h2>

        <div class="testimonial-card">

          <img src="/images/testimonial-1.jpg" alt="Kim Ngọc" class="testimonial-banner" width="80" height="80">

          <p class="testimonial-name">Kim Ngọc</p>

          <p class="testimonial-title">Đã Mua Hàng</p>

          <img src="/images/icons/quotes.svg" alt="quotation" class="quotation-img" width="26">

          <p class="testimonial-desc">
            Mình cảm thấy rất hài lòng về sản phẩm và cách phục vụ của Shop.
            Sản phẩm đóng gói kĩ càng và giao hàng nhanh chóng.
            <br>
            Sẽ tiếp tục ủng hộ Shop nha.
          </p>

        </div>

      </div>
      

      <!-- CTA -->

      <div class="cta-container">

        <img src="/images/cta-banner.png" alt="Tết nguyên đán" class="cta-banner">

        <a href="#" class="cta-content">

          <p class="discount">Giảm giá 25% toàn bộ sản phẩm</p>

          <h2 class="cta-title">Tết nguyên đán</h2>

          <p class="cta-text">Bắt đầu từ 05/01/2024 đến 10/01/2024</p>

          <button class="cta-btn">Xem Sản Phẩm</button>

        </a>

      </div>


      <!-- SERVICE -->

      <div class="service">

        <h2 class="title">Dịch vụ của chúng tôi</h2>

        <div class="service-container">

          <a href="#" class="service-item">

            <div class="service-icon">
              <ion-icon name="boat-outline"></ion-icon>
            </div>

            <div class="service-content">

              <h3 class="service-title">Miễn Phí Vận Chuyển</h3>
              <p class="service-desc">Cho đơn hàng dưới 10km</p>

            </div>

          </a>

          <a href="#" class="service-item">

            <div class="service-icon">
              <ion-icon name="rocket-outline"></ion-icon>
            </div>

            <div class="service-content">

              <h3 class="service-title">Giao Hàng Nhanh Chóng</h3>
              <p class="service-desc">Chỉ Từ 1 đến 2 ngày</p>

            </div>

          </a>

          <a href="#" class="service-item">

            <div class="service-icon">
              <ion-icon name="call-outline"></ion-icon>
            </div>

            <div class="service-content">

              <h3 class="service-title">Hỗ Trợ Tư Vấn</h3>
              <p class="service-desc">Các ngày trong tuần, 24/7</p>

            </div>

          </a>

          <a href="#" class="service-item">

            <div class="service-icon">
              <ion-icon name="arrow-undo-outline"></ion-icon>
            </div>

            <div class="service-content">

              <h3 class="service-title">Chính Sách Hoàn Trả</h3>
              <p class="service-desc">Dễ Dàng và Nhanh Chóng</p>

            </div>

          </a>

          <a href="#" class="service-item">

            <div class="service-icon">
              <ion-icon name="ticket-outline"></ion-icon>
            </div>

            <div class="service-content">

              <h3 class="service-title">Giảm Giá Sâu</h3>
              <p class="service-desc">Cho đơn hàng giá trị</p>

            </div>

          </a>

        </div>

      </div>

    </div>

  </div>

</div>