<%- include ../partials/header %>

<!-- ABOUT US -->
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 col-md-12 m-auto text-justify">
      <h1 class="mt-4 mb-5 text-center">Về chúng tôi</h1>
      <h3>Chào mừng bạn đến với cửa hàng chúng tôi</h3>
      <p>
        Nông Sản Miền Nam chuyên cung cấp các mặt hàng nông sản từ khu vực phía Nam Việt Nam.
        Chúng tôi tự hào mang đến cho khách hàng những sản phẩm chất lượng cao, được thu hoạch từ những vùng đất màu mỡ và trời nắng ấm.
      </p>
      <p>
        Với cam kết về chất lượng và sự tận tâm, chúng tôi hy vọng sẽ đem lại trải nghiệm mua sắm tốt nhất cho quý khách.
        Hãy đến và khám phá thế giới của chúng tôi, nơi mà bạn có thể tận hưởng hương vị tuyệt vời của nông sản từ miền Nam Việt Nam.
      </p>
      <h3>Vị trí của chúng tôi</h3>
      <div class="mt-4 mb-5">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62719.33951070875!2d106.68714280065947!3d10.737665068166743!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752560b050b093%3A0x6dcb89c51055ccc9!2zUXXhuq1uIDcsIFRow6BuaCBwaOG7kSBI4buTIENow60gTWluaCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1706585238361!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</div>

<%- include ../partials/footer %>
