<%- include ../partials/header %>

  <!-- TERMS OF SERVICE -->
  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-8 col-md-12 m-auto text-justify">
        <h1 class="mt-4 mb-5 text-center">Chính Sách Thanh Toán</h1>

        <div>
          <p>Website thương mại điện tử của <b>Nông Sản Miền Nam</b> hiện đang chấp nhận 2 hình thức thanh
            toán như sau:</p>
          <ul >
            <li>Thanh toán tiền mặt khi nhận hàng</li>
            <li>Chuyển khoản qua ngân hàng</li>
          </ul>

          <h4><b>Thông tin tài khoản ngân hàng chính thức</b></h4>
          <ul >
            <li>Cửa hàng <b>Nông Sản Miền Nam</b></li>
            <li>Số tài khoản: 89289523945234</li>
            <li>Mở tại ngân hàng TMCP Kỹ Thương Việt Nam Techcombank - Chi nhánh Hồ
              Chí Minh
            </li>
          </ul>
          
          <h4><b>Lưu ý</b></h4>
          <ul >
            <li>Nội dung chuyển khoản xin vui lòng ghi rõ họ tên hoăc công ty và
              chuyển cho đơn hàng nào. Sau khi chuyển khoản, nhân viên sẽ liên hệ xác nhận thanh toán và tiến hành giao
              hàng. Nếu sau thời gian thỏa thuận mà chúng tôi chưa giao hàng hoặc chưa phản hồi lại, quý khách vui lòng
              liên hệ số điện thoại 0123-456-789 để được hỗ trợ.</li>
            <li>Đối với khách hàng có nhu cầu mua số lượng lớn vui lòng liên hệ trực
              tiếp với chúng tôi qua số điện thoại 0123-456-789 để có chính sách giá cả hợp lý. Việc thanh toán sẽ
              được thực hiện theo hợp đồng.</li>
            <li>Đối với các đơn hàng đã thanh toán thành công qua ngân hàng,
              khách hàng có nhu cầu huỷ đơn hàng và hoàn trả tiền đã thanh toán, vui lòng liên hệ đến bộ phận chăm sóc
              khách hàng (số điện thoại 0123-456-789) để yêu cầu huỷ đơn hàng và hoàn trả tiền đã thanh toán. Khách
              hàng sẽ nhận được hoàn trả sau 2-4 ngày (không tính Thứ 7 và Chủ nhật) kể từ ngày bộ phận chăm sóc khách
              hàng của chúng tôi xác nhận huỷ đơn hàng và hoàn trả tiền đã thanh toán.<br></li>
          </ul>
        </div>

      </div>
    </div>
  </div>

  <%- include ../partials/footer %>