<%- include ../partials/header %>

  <!-- TERMS OF SERVICE -->
  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-8 col-md-12 m-auto text-justify">
        <h1 class="mt-4 mb-5 text-center">Chính Sách Bảo Mật</h1>

        <div>
          <h4><b>Mục đích và phạm vi thu thập thông tin</b><br></h4>
          <p>Việc thu thập thông tin chủ yếu trên website bao gồm: Họ &amp; tên, email, số điện thoại, địa chỉ khách
            hàng. Đây là các thông tin cần thiết tối thiểu để khách hàng có thể sử dụng dịch vụ mua hàng online giao tận
            nơi của <b>Nông Sản Miền Nam</b><br></p>

          <h4><b>Phạm vị sử dụng thông tin</b><br></h4>
          <p>Chúng tôi sử dụng thông tin khách hàng cung cấp để:</p>
          <ul>
            <li>Cung cấp dịch vụ bán hàng online giao tận nơi đến khách hàng.</li>
            <li>Gửi các thông tin xác nhận, các thông báo về hoạt động trao đổi thông tin giữa khách hàng
              và Chúng tôi.</li>
            <li>Liên lạc và hỗ trợ khách hàng trong những trường hợp đặc biệt.</li>
            <li>Không sử dụng thông tin cá nhân của khách hàng ngoài mục đích xác nhận và liên hệ có liên
              quan đến giao dịch tại website.</li>
            <li>Chúng tôi có trách nhiệm hợp tác cung cấp thông tin khách hàng khi có yêu cầu từ cơ quan
              nhà nước có thẩm quyền.</li>
          </ul>

          <h4><b>Thời gian lưu trữ thông tin</b><br></h4>
          <p>Dữ liệu của khách hàng sẽ được lưu trữ cho đến khi có yêu cầu huỷ bỏ từ khách hàng. Còn lại trong mọi
            trường hợp, thông tin khách hàng sẽ được bảo mật trên máy chủ của Chúng tôi hoặc đối tác cung cấp dịch vụ
            máy chủ<br></p>

          <h4>Những người hoặc tổ chức có thể được tiếp cận với thông tin cá nhân</h4>
          <p>Đối tượng được tiếp cận với thông tin cá nhân của khách hàng thuộc một trong những trường hợp sau:</p>
          <ul>
            <li><span>Nhân viên của cửa hàng</span></li>
            <li>
              <span>Các đối tác có ký hợp động thực hiện 1 phần dịch vụ của cửa hàng. Các đối tác này sẽ nhận
              được những thông tin theo thỏa thuận hợp đồng (có thể 1 phần hoặc toàn bộ thông tin tuy theo điều khoản
              hợp đồng) để tiến hành hỗ trợ người dùng sử dụng dịch vụ do cửa hàng cung cấp.</span>
            </li>
          </ul>

          <h4><b>Cách thức và phương tiện để khách hàng tiếp cận và chỉnh sửa dữ liệu của mình</b><br></h4>
          <p>Khách hàng có thể kiểm tra thông tin của mình bằng cách xem email xác nhận đơn hàng gần nhất. Việc chỉnh
            sửa thông tin cá nhân, khách hàng có thể gửi mail đến địa chỉ info@nongsanmiennam.com hoặc gọi điện thoại đến
            số 0123-456-789 để yêu cầu thực hiện.<br></p>
          <p>Khách hàng có quyền gửi khiếu nại về việc lộ thông tin cá nhân cho bên thứ ba đến ban quản trị của
            Chúng tôi. Khi tiếp nhận những phản hồi này, Chúng tôi sẽ xác nhận lại thông tin và phải có trách nhiệm trả
            lời lý do và hướng dẫn khách hàng khôi phục và bảo mật lại thông tin<br></p>

          <h4><b>Cam kết bảo mật thông tin cá nhân khách hàng</b><br></h4>
          <p>Thông tin cá nhân của khách hàng trên website này được cam kết bảo mật tuyệt đối theo chính sách bảo vệ
            thông tin cá nhân của Chúng tôi. Việc thu thập và sử dụng thông tin của mỗi khách hàng cho mục đích khác chỉ
            được thực hiện khi có sự đồng ý của khách hàng đó, trừ những trường hợp pháp luật quy định. Chúng tôi cam
            kết:</p>
          <ul>
            <li>Không sử dụng, không chuyển giao, không cung cấp hay tiết lộ cho bất kỳ bên thứ ba nào về
              thông tin cá nhân của khách hàng khi không được sự cho phép hoặc đồng ý từ khách hàng, trừ những trường
              hợp pháp luật có quy định khác</li>
            <li>Trong trường hợp máy chủ lưu trữ thông tin bị hacker tấn công dẫn đến mất mát dữ liệu cá
              nhân khách hàng, Chúng tôi sẽ có trách nhiệm thông báo vụ việc cho cơ quan chức năng điều tra xử lý kịp
              thời và thông báo cho khách hàng được biết.</li>
            <li>Bảo mật tuyệt đối mọi thông tin giao dịch trực tuyến của khách hàng, bao gồm cả thông tin
              hoá đơn.</li>
          </ul>

        </div>
      </div>
    </div>
  </div>

  <%- include ../partials/footer %>