<%- include ../partials/header %>

  <!-- TERMS OF SERVICE -->
  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-8 col-md-12 m-auto text-justify">
        <h1 class="mt-4 mb-5 text-center">Chính Sách Hoàn Trả</h1>

        <div>
          <p>Với phương châm đặt lợi ích của khách hàng lên hàng đầu, <b>Nông Sản Miền Nam</b> chấp nhận đổi trả toàn bộ
            sản phẩm hư
            hỏng trong quá trình vận chuyển, có lỗi nhà sản xuất, hoặc bất cứ trường hợp có lỗi khách quan nào xảy ra
            với toàn bộ chi phí do chúng tôi chịu.</p>

          <h4><b>Điều kiện đổi trả hàng</b></h4>
          <p>Quý khách có thể đổi trả hàng mua tại website khi xảy ra một trong những trường hợp sau:</p>
          <ul>
            <li>Hàng hoá hư hỏng do vận chuyển, phản hồi trong vòng 7 ngày sau khi nhận hàng: Đổi mới sản
              phẩm, miễn phí vận chuyển.</li>
            <li>Hàng hoá phát hiện lỗi của nhà sản xuất, phản hồi trong vòng 30 ngày sau khi nhận hàng:
              Nhận lại sản phẩm với chi phí do chúng tôi chịu, đổi mới sản phẩm, miễn phí vận chuyển hoặc hoàn tiền
              100%.</li>
            <li>Hàng hoá gửi bị nhầm mặt hàng, số lượng, phản hồi trong vòng 7 ngày sau khi nhận hàng: Bổ
              sung, miễn phí vận chuyển.</li>
            <li>Khách hàng bị dị ứng với sản phẩm, phản hồi trong vòng 30 ngày sau khi nhận hàng: Nhận lại
              sản phẩm với tất cả chi phí do chúng tôi chịu, hoàn tiền 100%.</li>
            <li>Các trường hợp khác: Xin vui lòng liên lạc qua số điện thoại 0123-456-789 để được hỗ trợ.
            </li>
          </ul>

          <h4><b>Phương thức đổi trả hàng</b></h4>
          <ul>
            <li>Tất cả chi phí đổi trả hàng sẽ do chúng tôi chịu.</li>
            <li>Quý khách vui lòng liên lạc qua số điện thoại 0123-456-789 để được hỗ trợ.</li>
          </ul>

          <h5><strong>Lưu ý</strong></h5>
          <ul>
            <li>Đối với trường hợp khách hàng huỷ đơn hàng, đã thực hiện thành công thanh toán trước qua cổng thanh toán
              hoặc chuyển khoản ngân hàng: khách hàng sẽ nhận được hoàn trả sau 2-4 ngày (không tính Thứ 7 và Chủ Nhật)
              kể từ ngày chúng tôi nhận được xác nhận huỷ đơn hàng và yêu cầu hoàn trả.</li>
          </ul>
        </div>

      </div>
    </div>
  </div>

  <%- include ../partials/footer %>