<%- include ../partials/header %>

  <!-- TERMS OF SERVICE -->
  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-8 col-md-12 m-auto text-justify">
        <h1 class="mt-4 mb-5 text-center">Chính Sách Bảo Mật</h1>

        <div>
          <p>Với mong muốn có thể phục vụ khách hàng tốt nhất, <b>Nông Sản Miền Nam</b> cung cấp dịch vụ giao hàng đến
            tận
            tay khách hàng trên toàn quốc thông qua việc chọn mua sản phẩm trên website thương mại điện tử này</p>

          <h4><b>Thời gian giao hàng</b></h4>
          <ul>
            <li>Khi nhận được đơn đặt hàng trên website, nhân viên sẽ xử lý đơn hàng và gọi điện thoại xác
              nhận với khách hàng thông tin đơn hàng, thanh toán và vận chuyển trong vòng <b>24 giờ</b> (Không kể chủ
              nhật và ngày lễ).</li>
            <li>Thời gian giao hàng trong khoảng từ <b>3 - 5 ngày</b> (Không kể thứ 7, chủ nhật và ngày lễ)
              tính từ ngày xác nhận đơn hàng thành công.</li>
            <li>Một số trường hợp thời gian giao hàng có thể kéo dài như sau:<ul>
                <li>Nhân viên xử lý đơn không thể liên lạc xác nhận đơn hàng qua điện thoại với khách hàng.
                </li>
                <li>Nhân viên giao hàng không thể liên lạc với khách hàng nhiều lần khi đến giao hàng.</li>
                <li>Địa chỉ giao hàng do khách hàng cung cấp không đầy đủ, không chính xác hoặc khó tìm.
                </li>
                <li>Xảy ra trường hợp bất khả kháng như: Thiên tai, bão lụt, hoả hoạn,…</li>
              </ul>
            </li>
          </ul>

          <h4 class="p3"><b>Bảng phí giao hàng</b></h4>
          <ul>
            <li><strong>Miễn phí</strong> giao hàng toàn quốc đối với đơn hàng có trị giá từ 490,000đ trở
              lên.</li>
            <li><b>30,000đ</b> cho mỗi đơn hàng có trị giá dưới 490,000đ.</li>
          </ul>

          <h4 class="p3"><b>Thông tin giao hàng khác</b></h4>
          <ul>
            <li>Đối tác vận chuyển: <a href="http://Giaohangtietkiem.vn"><span class="s2">Giaohangtietkiem.vn</span></a>
            </li>
            <li>Địa điểm có thể giao hàng: Trên toàn lãnh thổ Việt Nam, ngoại trừ các khu vực đối tác vận
              chuyển không thể giao tới</li>
            <li>
              Lưu ý:
              <ul>
                <li><b>Nông Sản Miền Nam</b> hiện chưa cung cấp dịch vụ giao hàng ra nước ngoài</li>
                <li>Tất cả trách nhiệm pháp lý liên quan đến việc giao hàng và tiến độ giao hàng sẽ được<span
                    class="Apple-converted-space">&nbsp;</span>đối tác vận chuyển chịu trách nhiệm</li>
              </ul>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>

  <%- include ../partials/footer %>