<%- include ../partials/header %>

  <!-- TERMS OF SERVICE -->
  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-8 col-md-12 m-auto text-justify">
        <h1 class="mt-4 mb-5 text-center">Hướng Dẫn Mua Hàng</h1>

        <div>
          <p>Các bước mua hàng trên website điện tử này được thực hiện như sau:<br></p>
          <h4><b>Bước 1: Tìm kiếm sản phẩm</b></h4>
          <p>Quý khách có thể tìm kiếm sản phẩm theo 1 trong 3 cách:</p>
          <ul>
            <li>Gõ tên sản phẩm vào thanh tìm kiếm.</li>
            <li>Tìm theo danh mục.</li>
            <li>Tìm theo các sản phẩm nổi bật hoặc bán chạy.</li>
          </ul>
          <h4><b>Bước 2: Thêm sản phẩm vào giỏ hàng</b></h4>
          <p>Khi đã tìm được sản phẩm mong muốn, quý khách vui lòng bấm vào hình hoặc tên của sản phẩm để vào trang
            thông tin chi tiết của sản phẩm, sau đó:</p>
          <ul>
            <li>Kiểm tra thông tin sản phẩm, giá cả, thông tin khuyến mãi.</li>
            <li>Chọn số lượng mong muốn.</li>
            <li>Thêm sản phẩm vào giỏ hàng.</li>
          </ul>
          <h4><b>Bước 3: Kiểm tra giỏ hàng và đặt hàng</b></h4>
          <p>Để đặt nhiều sản phẩm khác nhau vào cùng một đơn hàng, vui lòng thực hiện theo các bước sau:</p>
          <ul>
            <li>Click vào logo để quay lại trang chủ.</li>
            <li>Thêm sản phẩm vào giỏ hàng như ở Bước 2.</li>
            <li>Quá trình này có thể lặp lại đến khi quý khách hoàn tất việc bỏ tất cả sản phẩm vào giỏ
              hàng.</li>
            <li>Điều chỉnh số lượng và cập nhật giỏ hàng.</li>
            <li>Bấm “Thanh Toán” để bắt đầu đặt hàng.</li>
          </ul>
          <h4><b>Bước 4: Điền địa chỉ giao hàng</b><b></b><br></h4>
          <h4><b>Bước 5: Chọn phương thức vận chuyển và phương thức thanh toán</b><b></b><br></h4>
          <h4><b>Bước 6: Bấm vào “Hoàn tất đơn hàng”</b></h4>
        </div>

      </div>
    </div>
  </div>

  <%- include ../partials/footer %>