<%- include ../partials/header %>

  <!-- TERMS OF SERVICE -->
  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-8 col-md-12 m-auto text-justify">
        <h1 class="mt-4 mb-5 text-center">Điều Khoản Sử Dụng</h1>
        <div>
          <h4><b>Giới thiệu</b><br></h4>
          <p>Chào mừng quý khách hàng đến với website thương mại điện tử uỷ quyền chính thức của <b>Nông Sản Miền
              Nam</b>. Chúng tôi là
            một cửa hàng online chuyên bán các nông sản ở phía nam Việt Nam, cung cấp sản phẩm nông sản chế biến chất
            lượng cao, an toàn, tin
            cậy, giá cả phải chăng, đẹp mắt, hài lòng như: Trà atisô, bánh mứt đặc sản, cà phê, hạt, nước cốt, thảo mộc,
            thịt
            khô, trà pha ấm, trà túi lọc, trái cây sấy dẻo, trái cây sấy giòn, bột trà xanh matcha, trà sencha hoa,…<br>
          </p>
          <p>Khi quý khách truy cập và sử dụng dịch vụ tại website thương mại điện tử này đồng nghĩa với việc đồng ý với
            điều khoản sử dụng của website. Chúng tôi có quyền thay đổi, chỉnh sửa, bổ sung hoặc lược bớt bất kỳ phần
            nào trong điều khoản sử dụng này vào bất cứ lúc nào. Các thay đổi có hiệu lực ngay khi được đăng trên
            website mà không cần thông báo trước. Và khi quý khách hàng tiếp tục sử dụng website, sau khi các thay đổi
            vè điều khoản sử dụng được đăng tải, có nghĩa là quý khách đã đồng ý với những thay đổi đó.<br></p>
          <h4><b>Hướng dẫn sử dụng</b><br></h4>
          <p>Khi quý khách truy cập và sử dụng dịch vụ tại website thương mại điện tử này, khách hàng phải đảm bảo trên
            18 tuổi, hoặc truy cập dưới sự giám sát của cha mẹ hoặc người bảo hộ hợp pháp. Khách hàng phải đảm bảo có đủ
            hành vị dân sự để thực hiện các giao dịch mua bán hàng hoá theo quy định hiện hành của pháp luật Việt
            Nam.<br></p>
          <p>Nghiêm cấm sử dụng bất kỳ phần nào của website này với mục đích thương mại nào khác hoặc nhân danh bất kỳ
            đối tác thứ ba nào nếu không được chúng tôi cho phép bằng văn bản.<br></p>
          <h4><b>Bình luận của khách hàng</b><br></h4>
          <p>Tất cả nội dung trên website này và bình luận phê bình của khách hàng đều là tài sản của chúng tôi. Nếu
            chúng tôi phát hiện bất kỳ thông tin nào mang tính chất giả mạo, phát tán, truyền bá hay cổ vũ nội dung
            khiêu dâm, phản động chống phá Nhà Nước Việt Nam, chúng tôi có quyền xoá mà không cần thông báo trước hoặc
            áp dụng các biện pháp chế khác theo quy định của pháp luật Việt Nam.<br></p>
          <h4><b>Chấp nhận đơn hàng và giá cả</b><br></h4>
          <p>Chúng tôi cam kết cung cấp thông tin sản phẩm và giá cả chính xác nhất cho khách hàng. Tuy nhiên, đôi lúc
            vẫn có sai sót xảy ra, ví dụ như trường hợp giá sản phẩm không hiển thị chính xác trên website hoặc sai giá.
            Tùy theo từng trường hợp, chúng tôi có quyền từ chối hoặc huỷ đơn hàng của quý khách vì lý do liên quan đến
            lỗi kỹ thuật, hệ thống một các khách quan. Nhân viên sẽ liên hệ hướng dẫn hoặc thông báo hủy đơn hàng đó,
            đồng thời hoàn tiền cho khách hàng đã thanh toán (Nếu có).<br></p>
          <h4><b>Thương hiệu và bản quyền</b><br></h4>
          <p>Mọi quyền sở hữu trí tuệ (đã đăng ký hoặc chưa đăng ký), nội dung thông tin và tất cả các thiết kế, văn
            bản, đồ họa, phần mềm, hình ảnh, video, âm nhạc, âm thanh, biên dịch phần mềm, mã nguồn và phần mềm cơ bản
            đều là tài sản của chúng tôi. Toàn bộ nội dung của website được bảo vệ bởi luật bản quyền của Việt Nam và
            các công ước quốc tế. Bản quyền đã được bảo lưu.<br></p>
          <h4><b>Quyền pháp lý</b><br></h4>
          <p>Các điều kiện, điều khoản và nội dung của website này được điều chỉnh bởi luật pháp Việt Nam. Tòa án có
            thẩm quyền tại Việt Nam sẽ giải quyết bất kỳ tranh chấp nào phát sinh từ việc sử dụng trái phép trang web
            này.<br></p>
          <h4><b>Quy định về bảo mật và an toàn giao dịch</b><br></h4>
          <p>Website của chúng tôi coi trọng việc bảo mật thông tin và sử dụng các biện pháp tốt nhất bảo vệ thông tin
            và việc thanh toán của quý khách. Thông tin của quý khách trong quá trình thanh toán sẽ được mã hóa để đảm
            bảo an toàn. Sau khi quý khách hoàn thành quá trình đặt hàng, quý khách sẽ thoát khỏi chế độ an toàn. Chúng
            tôi sử dụng các dịch vụ để bảo vệ thông tin về nội dung trên website. Để đảm bảo các giao dịch được tiến
            hành thành công, hạn chế tối đa rủi ro có thể phát sinh.<br></p>
          <p>Quý khách không được sử dụng bất kỳ chương trình, công cụ hay hình thức nào khác để can thiệp vào hệ thống
            hay làm thay đổi cấu trúc dữ liệu. Trang web cũng nghiêm cấm việc phát tán, truyền bá hay cổ vũ cho bất kỳ
            hoạt động nào nhằm can thiệp, phá hoại hay xâm nhập vào dữ liệu của hệ thống. Cá nhân hay tổ chức vi phạm sẽ
            bị tước bỏ mọi quyền lợi cũng như sẽ bị truy tố trước pháp luật nếu cần thiết. Mọi thông tin giao dịch sẽ
            được bảo mật ngoại trừ trong trường hợp cơ quan pháp luật có thẩm quyền yêu cầu.<br></p>
          <h4><b>Luật pháp và thẩm quyền trên lãnh thổ Việt Nam</b><br></h4>
          <p>Tất cả các điều khoản và điều kiện này và hợp đồng và nghĩa vụ phát sinh ngoài hợp đồng (Nếu có) sẽ bị chi
            phối bởi và được hiểu theo luật pháp của Việt Nam. Nếu có tranh chấp phát sinh bởi các quy định sử dụng này,
            quý khách hàng có quyền gửi khiếu nại hoặc khiếu kiện lên tòa án có thẩm quyền tại Việt Nam để giải
            quyết.<br></p>

          <h5><b>Chính sách bảo mật</b><br></h5>
          <p>Quý khách vui lòng tham khảo <a href="/pages/chinh-sach-bao-mat">tại đây</a></p>

          <h5><b>Chính sách thanh toán</b><br></h5>
          <p>Quý khách vui lòng tham khảo <a href="/pages/chinh-sach-thanh-toan">tại đây</a></p>

          <h5><b>Chính sách giao hàng</b><br></h5>
          <p>Quý khách vui lòng tham khảo <a href="/pages/chinh-sach-giao-hang">tại đây</a></p>

          <h5><b>Chính sách đổi trả hàng</b><br></h5>
          <p>Quý khách vui lòng tham khảo <a href="/pages/chinh-sach-doi-tra-hang">tại đây</a></p>

          <h5><b>Hướng dẫn mua hàng online</b><br></h5>
          <p>Quý khách vui lòng tham khảo <a href="/pages/huong-dan-mua-hang-online">tại đây</a></p>

        </div>
      </div>
    </div>
  </div>

  <%- include ../partials/footer %>